background/
env/
*.pyc
*.swp
*.swm
*.swn
*.swo
*.dat
*.xml
*.png
*.log
*.sql
*.odt
*.tmp
*.sql.gz
*.gz
*egg/
build/
dist/
!requirements.txt
db.*
autocomplete/
migrations/
raw_sql/
pepsite/fixtures/
hdome/settings.py
*egg-info/
.idea/**
