background/
env/
*.pyc
*.swp
*.swm
*.swn
*.swo
*.dat
*.xml
*.png
*.log
*.sql
*.csv
*egg/
build/
dist/
*.txt
!requirements.txt
db.*
autocomplete/
migrations/
pepsite/fixtures/
hdome/settings.py
*egg-info/

