{% extends 'base.html' %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}

{% block headline %}
    <h1>Add an <span class="text-primary">Antibody</span></h1>
    <p class="text-info">Add a new Antibody</p>
{% endblock %}

{% block content %}
    <h3>Existing Antibodies in Database</h3><br>

    {% render_table antibody_table %}

    <hr>
    <br>
    <h3>Add a new Antibody</h3>
    <br>
    <form method="post" action="">
        {% bootstrap_form antibody_form %}
        {% csrf_token %}
        {% buttons align="right" %}
            <button type="submit" class="btn btn-primary">
                Submit
            </button>
        {% endbuttons %}
    </form>
{% endblock %}