<!DOCTYPE html>
<html lang="en">
  <head>

    {% load staticfiles %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>HaploDome - Welcome</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/tablesorter_style.css" %}" rel="stylesheet">

		<script src="{% static "js/jquery-2.0.3.min.js" %}">
		</script>
<script type="text/javascript" src="{% static "js/jquery.tablesorter.js" %}"></script>


<script>


$(document).ready(function() {

$('#header').load( "{% url 'pepsite:nav_buttons' %}" );
$('#footer').load( "{% url 'pepsite:nav_buttons' %}" );

$("#cssTable1").tablesorter({
    //textExtraction : 'complex',
    sortMultiSortKey: 'none'
    });

$("#cssTable2").tablesorter({
    //textExtraction : 'complex',
    sortMultiSortKey: 'none'
    });

});

</script>


<style>
.tablesorter td 
{
    text-align:center; 
    vertical-align:middle;
}
.tablesorter th 
{
    text-align:center; 
    vertical-align:middle;
}

th:hover
{
background-color:yellow;
}
th
{
cursor:pointer;
}

</style>

</head>

<br>

<div class="container">
<div class="jumbotron">
<span class="text-center">

<h1>Browse by <span class="text-primary">Tissue</span> type</h1>
<p class="text-info">Catalogue page</p>

</span>
</div>

<div id="header"></div>

{% if cell_lines %}
    <h3><span class="text-primary">Tissue</span> types available:</h3>
    </br>

    <table class="table table-striped tablesorter" id="cssTable1">
    <thead>
    <tr>
        <th>Tissue / Description</th><th>Cell Line</th><th>Antibodies</th><th>Experiments</th>
    </tr>
    </thead>
    <tbody>
        {% for cell_line in cell_lines %}
        <tr>
        {% if cell_line.tissue_type != '' %}    
        <td>
            {{cell_line.tissue_type}}
        </td>
        {% else %}
        <td>
            {{cell_line.description}}
        </td>
        {% endif %}
            <td>
	    <a href="{% url 'pepsite:cell_line_expts' cell_line.id %}">{{cell_line.name}}</a> 
	</td>
	<td>
	
	{% for ab in cell_line.get_antibodies %}
		<a href="{% url 'pepsite:antibody_expts' ab.id %}">{{ ab.name }}</a>
	{% endfor %}
	
	</td>
	<td>
	{% for expt in cell_line.get_experiments %}
		<a href="{% url 'pepsite:expt2' expt.id %}">{{ expt.title }}</a>
	{% endfor %}
	
	</td>
        </tr>
	
    {% endfor %}
    </tbody>
    </table>

    <br><hr><br>
{% else %}
  <h3 class="text-danger">No Cell Lines found</h3>
  <br> 
{% endif %}


<div id="footer"></div>

<br>

</div>
</html>
