{% extends 'pepsite/base.html' %}

{% block headline %}

<script>


$(document).ready(function() {

$('#footer').load( "{% url 'pepsite:nav_buttons' %}" );

});

</script>


</head>


<h1>Search by <span class="text-primary">Cell Line</span></h1>
<p class="text-info">Search by allele / serotype</p>


{% endblock %}
{% block content %}

<form action="{% url 'pepsite:cell_line_search' %}" method="post">

        {% csrf_token %}

    <div class="fieldWrapper">
        {{ textform.subject.errors }}
        <label for="id_subject">Enter Cell Line name:</label>
        {{ textform.text_input }}
    </div>
<input class="btn btn-lg btn-success" type="submit" value="Search"></input>
</form>
<hr>
<br>





{% endblock %}
