
{% extends 'base.html' %}

{% block headline %}

<script>


$(document).ready(function() {

$('#header').load( "{% url 'pepsite:nav_buttons' %}" );
$('#footer').load( "{% url 'pepsite:nav_buttons' %}" );

$("#cssTable1").tablesorter({
    //textExtraction : 'complex',
    sortMultiSortKey: 'none'
    });

$("#cssTable2").tablesorter({
    //textExtraction : 'complex',
    sortMultiSortKey: 'none'
    });

});

</script>


<style>
.tablesorter td 
{
    text-align:center; 
    vertical-align:middle;
}
.tablesorter th 
{
    text-align:center; 
    vertical-align:middle;
}

th:hover
{
background-color:yellow;
}
th
{
cursor:pointer;
}

</style>

</head>


<h1>Browse by <span class="text-primary">Cell Line</span></h1>
<p class="text-info">Catalogue page</p>

{% endblock %}

{% block content %}

{% if cell_lines %}
    <h3><span class="text-primary">Cell Lines</span> available:</h3>
    </br>

    <table class="table table-striped tablesorter" id="cssTable1">
    <thead>
    <tr>
    <th>Cell Lines</th><th>Antibodies</th><th>Experiments</th>
    </tr>
    </thead>
    <tbody>
        {% for cell_line in cell_lines %}
        <tr>
            <td>
	    <a href="{% url 'pepsite:cell_line_expts' cell_line.id %}">{{cell_line.name}}</a> 
	</td>
	<td>
	
	{% for ab in cell_line.get_antibodies %}
		<a href="{% url 'pepsite:antibody_expts' ab.id %}">{{ ab.name }}</a>
	{% endfor %}
	
	</td>
	<td>
	{% for expt in cell_line.get_experiments %}
		<a href="{% url 'pepsite:expt2_ajax' expt.id %}">{{ expt.title }}</a>
	{% endfor %}
	
	</td>
        </tr>
	
    {% endfor %}
    </tbody>
    </table>

    <br><hr><br>
{% else %}
  <h3 class="text-danger">No Cell Lines found</h3>
  <br> 
{% endif %}



<br>


{% endblock %}
