{% extends 'pepsite/base.html' %}

{% load staticfiles %}

{% block headline %}

<script>


$(document).ready(function() {
    
    $('#loader').hide();

    $('#footer').load( "{% url 'pepsite:nav_buttons' %}" );
    //var prw = "{{upload.allstr|escapejs}}";
    //$('#peptides').html( prw );

    $("#cssTable").tablesorter({ 
        // pass the headers argument and assing a object 
        headers: { 
            // assign the secound column (we start counting zero) 
            //1: { 
                // disable it by setting the property sorter to false 
            //    sorter: false 
            //}, 
            // assign the third column (we start counting zero) 
            //2: { 
            //    // disable it by setting the property sorter to false 
            //    sorter: false 
            //} 
        } 
    });
    
    $('#commit_upload').click( function () {
        $('.div-1').css(( "z-index" ), 10 );
        $('#loader').show();
    });

});

</script>

<style>

#loader
{
z-index:10;
}

.div-1 {
    position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    z-index: -200;
}
.center {
    width: 80%;
    height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#cssTable td 
{
    text-align:center; 
    vertical-align:middle;
}
#cssTable th, .peptabhead 
{
    text-align:center; 
    vertical-align:middle;
}

.hilite:hover
{
background-color:yellow;
}
.hilite
{
cursor:pointer;
}

.table_body
{
    margin-left: 50px;
    margin-right: 50px;
}



</style>

</head>


<h1 class="text-primary">Curation complete</h1>
<p class="text-info">Changes to peptide display have been committed</p>


{% endblock %}
{% block content %}
{% load template_filter %}



<br>

<br>




<br>




{% endblock %}
