{% extends 'base.html' %}

{% block headline %}

<style>
#cssTable td 
{
    text-align:center; 
    vertical-align:middle;
}
#cssTable th 
{
    text-align:center; 
    vertical-align:middle;
}

.hilite:hover
{
background-color:yellow;
}
.hilite
{
cursor:pointer;
}

.table_body
{
    margin-left: 50px;
    margin-right: 50px;
}



</style>


<script>


$(document).ready(function() {


    $('#summary').load( "{% url 'pepsite:model_info' 'Experiment' expt.id %}" ); 

$('#header').load( "{% url 'pepsite:nav_buttons' %}" );
$('#footer').load( "{% url 'pepsite:nav_buttons' %}" );

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');


function reset_tablesort() {       

    $("#cssTable").tablesorter({ 
        // pass the headers argument and assing a object 
        headers: { 
            // assign the secound column (we start counting zero) 
            1: { 
                // disable it by setting the property sorter to false 
                sorter: false 
            }, 
        } 
    });

}

    var protein_ids = {{protein_ids|safe}};
    var expt_id = "{{expt.id}}";
    var render_url = "/pepsite/peptides_render/" + expt_id + "";

    var text = "expt_id = " + expt_id + "<br>render_url = " + render_url + "<br>";
    //for (i = 0; i < protein_ids.length; i++) { 
    //text += protein_ids[i] + "<br>";
    //    }

$('#testpoint').html( text );
reset_tablesort();

    $.ajax({
                        url : render_url, 
                        type : "POST",
                        dataType: "html", 
                        data : {
                            'protein_id_nos' : protein_ids,
                            csrfmiddlewaretoken: csrftoken
                            },
                            success : function(retdat) {
                                //$("#testpoint" ).append( "<br>" + retdat + "<br>" );
                                $('#cssTable tr:last').after(retdat);
                                //$("#testpoint" ).append( "<br>" + "complete" + "<br>" );
                                $('.tablesorter').trigger('update'); //this is absolute GOLD!!!
                                //reset_tablesort();
                            },
                            error : function(xhr,errmsg,err) {
                                alert(xhr.status + ": " + xhr.responseText);
                            }
                    });
		



});




</script>



</head>


<h1>Experiment = <span class="text-primary">{{expt.title}}</span></h1>


{% endblock %}

{% block content %}

<div id="summary"></div>

{% if publications %}

<h2 class="text-primary">Please cite the following publications when using this data:</h2>
<ul>
{% for publication in publications %}

<li>{{publication.display}}</li>

{% endfor %}

{% endif %}

</ul>

<div id="testpoint"></div>


</div> <!-- container --> 




{% load template_filter %}
      {% load guardian_tags %}
{% query_data_perms user expt as complete %}

<div class="table_body">

<h2 class="text-primary">Peptides detected</h2>

{% if not complete %}<p class="text-info">You do not have permission to view some or all of this data {% endif %} </p>

    <table class="table table-striped tablesorter" id="cssTable">
    <thead>
        <tr><th class="hilite">Protein</th><th/><th class="hilite">Peptide</th><th class="hilite">Peptide length</th><th>Position(s) in Protein</th><th class="hilite">Modification</th><th class="hilite">Delta Mass</th><th class="hilite">Confidence</th><th>m/z</th><th class="hilite">Charge State</th><th class="hilite">Retention Time</th><th class="hilite">Precursor Mass</th><th class="hilite">Experiment</th></tr>
    </thead>
    <tbody id="tb">
    {% for row in rows %}
        <tr>
            <td>
	       <a href="{% url 'pepsite:protein_peptides' row.protein.id %}" class="link">{{row.protein.description}}</a>
            </td>
            <td>
                <a href="http://www.uniprot.org/uniprot/{{row.protein.prot_id}}" class="link" target="_blank">UniProt Entry</a>
            </td>
            <td>
	        <a href="{% url 'pepsite:peptide_peptides' row.ide.peptide.id %}" class="link">{{row.ide.peptide.sequence}}</a>
            </td>
            <td>
                {{row.ide.peptide.sequence|length}}
            </td>
            <td>
               {{ row.peptoprot.get_positions }}
	   </td>
	   <td>
	   {% for ptm in row.ptms %}
	       <a href="{% url 'pepsite:ptm_peptides' ptm.id %}" class="link">{{ptm.description}}</a>
	   {% endfor %}
	   </td>
	   <td>
	   {{ row.ide.delta_mass }}
	   </td>
	   <td>
	   {{ row.ide.confidence }}
	   </td>
	   <td>
	   {{ row.ide.ion.mz }}
	   </td>
	   <td>
	   {{ row.ide.ion.charge_state }}
	   </td>
	   <td>
	   {{ row.ide.ion.retention_time }}
	   </td>
	   <td>
	   {{ row.ide.ion.precursor_mass }}
           </td>
           <td>
	       <a href="{% url 'pepsite:expt2' row.expt.id %}" class="link">{{row.expt.title}}</a>
           </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>


<br>

<form action="{% url 'pepsite:send_expt_csv' expt.id %}">
<input class="btn btn-primary" type="submit" value="Download csv">
</form>




</div> <!-- table_body -->

<div class="container">

{% endblock %}
