<!DOCTYPE html>
<html lang="en">
  <head>

    {% load staticfiles %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>HaploDome - Peptides in Experiment</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/tablesorter_style.css" %}" rel="stylesheet">

		<script src="{% static "js/jquery-2.0.3.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.tablesorter.js" %}"></script>

<style>
#cssTable td 
{
    text-align:center; 
    vertical-align:middle;
}
#cssTable th 
{
    text-align:center; 
    vertical-align:middle;
}

.hilite:hover
{
background-color:yellow;
}
.hilite
{
cursor:pointer;
}

</style>


<script>


$(document).ready(function() {


    $('#summary').load( "{% url 'pepsite:model_info' 'Experiment' expt.id %}" ); 

$('#header').load( "{% url 'pepsite:nav_buttons' %}" );
$('#footer').load( "{% url 'pepsite:nav_buttons' %}" );


//$("#cssTable").tablesorter(); 
    $("#cssTable").tablesorter({ 
        // pass the headers argument and assing a object 
        headers: { 
            // assign the secound column (we start counting zero) 
            1: { 
                // disable it by setting the property sorter to false 
                sorter: false 
            }, 
            // assign the third column (we start counting zero) 
            //2: { 
            //    // disable it by setting the property sorter to false 
            //    sorter: false 
            //} 
        } 
    });

});

</script>


{% load template_filter %}

</head>

<br>

<div class="container">
<div class="jumbotron">
<span class="text-center">

<h1>Experiment = <span class="text-primary">{{expt.title}}</span></h1>

</span>
</div>


<div id="summary">
    
</div>

<div id="header">
    
</div>


    <h2 class="text-primary">Peptides detected</h2>

{% if paginate %}

<div class="pagination">
    <span class="step-links">
        {% if proteins.has_previous %}
            <a href="?page={{ proteins.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ proteins.number }} of {{ proteins.paginator.num_pages }}.
        </span>

        {% if proteins.has_next %}
            <a href="?page={{ proteins.next_page_number }}">next</a>
        {% endif %}
    </span>
<form action="{% url 'pepsite:expt2' expt.id %}" method="post">
{% csrf_token %}
<input type='hidden' name='full_list' value='1' />
<input class="btn btn-danger" type="submit" value="Show complete peptide list for {{expt.title}}">
</form>
</div>

{% else %}

<div>
<form action="{% url 'pepsite:expt2' expt.id %}" method="post">
{% csrf_token %}
<input class="btn btn-danger" type="submit" value="Go to paginated peptide list for {{expt.title}}">
</form>
</div>


{% endif %}

    <table class="table table-striped tablesorter" id="cssTable">
    <thead>
    <tr><th class="hilite">Protein</th><th/><th class="hilite">Peptide</th><th class="hilite">Peptide length</th><th class="hilite">Modification</th><th class="hilite">Delta Mass</th><th class="hilite">Confidence</th><th class="hilite">Charge State</th><th class="hilite">Retention Time</th><th class="hilite">Precursor Mass</th></tr>
    </thead>
    <tbody>
    {% for protein in proteins %}
{% query_idestimate ion__experiments=expt peptide__proteins=protein as myides %}
	{% for idestimate in myides %}
        <tr>
	<td>
	<a href="{% url 'pepsite:protein_full_listing' protein.id %}" class="link">{{protein.description}}</a>
	</td>
	<td>
            <form action="{{ protein.get_uniprot_link }}" target="_blank">
        <input class="btn btn-primary" type="submit" value="UniProt entry for {{protein.description}}">
	</form>
	</td>
	<td>
	<a href="{% url 'pepsite:peptide_expts' idestimate.peptide.id %}" class="link">{{idestimate.peptide.sequence}}</a>
	</td>
	<td>
	{{ idestimate.peptide.sequence | length }}
	</td>
	<td>
	{% if idestimate.ptm %}
	<a href="{% url 'pepsite:ptm_expts' idestimate.ptm.id %}" class="link">{{idestimate.ptm.description}}</a>
	{% endif %}
	</td>
	<td>
	{{ idestimate.delta_mass }}
	</td>
	<td>
	{{ idestimate.confidence }}
	</td>
	<td>
	{{ idestimate.ion.charge_state }}
	</td>
	<td>
	{{ idestimate.ion.retention_time }}
	</td>
	<td>
	{{ idestimate.ion.precursor_mass }}
	</td>
        </tr>
	{% endfor %}
    {% endfor %}
    </tbody>
    </table>

{% if paginate %}

<div class="pagination">
    <span class="step-links">
        {% if proteins.has_previous %}
            <a href="?page={{ proteins.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ proteins.number }} of {{ proteins.paginator.num_pages }}.
        </span>

        {% if proteins.has_next %}
            <a href="?page={{ proteins.next_page_number }}">next</a>
        {% endif %}
    </span>
<form action="{% url 'pepsite:expt2' expt.id %}" method="post">
{% csrf_token %}
<input type='hidden' name='full_list' value='1' />
<input class="btn btn-danger" type="submit" value="Show complete peptide list for {{expt.title}}">
</form>
</div>

{% else %}

<div>
<form action="{% url 'pepsite:expt2' expt.id %}" method="post">
{% csrf_token %}
<input class="btn btn-danger" type="submit" value="Go to paginated peptide list for {{expt.title}}">
</form>
</div>


{% endif %}

<br>

<form action="{% url 'pepsite:send_expt_csv' expt.id %}">
<input class="btn btn-primary" type="submit" value="Download csv">
</form>



<div id="footer"></div>

</div>
</html>
