{% extends 'base.html' %}

{% load staticfiles %}
{% block headline %}

{% load template_filter %}
      {% load guardian_tags %}

<style>
#cssTable td 
{
    text-align:center; 
    vertical-align:middle;
}
#cssTable th 
{
    text-align:center; 
    vertical-align:middle;
}

.hilite:hover
{
background-color:yellow;
}
.hilite
{
cursor:pointer;
}

.table_body
{
    margin-left: 50px;
    margin-right: 50px;
}

#loader
{
z-index:-10;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


</style>


<script>


$(document).ready(function() {
    $('.div-1').css(( "z-index" ), 10 );
    $('#loader').show();

    $('#summary').load( "{% url 'pepsite:model_info' 'Experiment' expt.id %}" ); 

$('#header').load( "{% url 'pepsite:nav_buttons' %}" );
$('#footer').load( "{% url 'pepsite:nav_buttons' %}" );

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');


function reset_tablesort() {       

    $("#cssTable").tablesorter({ 
        // pass the headers argument and assing a object 
        headers: { 
            // assign the secound column (we start counting zero) 
            1: { 
                // disable it by setting the property sorter to false 
                //sorter: false 
            }, 
        } 
    });

}

    //var protein_ids = {{protein_ids_total|safe}};
    //var protein_ids_initial = {{protein_ids_initial|safe}};
    var expt_id = "{{expt.id}}";
    //var initial_quota = {{initial_quota|safe}};
    var render_url = "/pepsite/peptides_render_sql_improved/" + expt_id + "";

    var text = "expt_id = " + expt_id + "<br>render_url = " + render_url + "<br>";
    //text += "initial_ids: " + "{{protein_ids_initial|length}}" + "<br>";
    //text += "later_ids: " + "{{protein_ids|length}}" + "<br>";
    //text += "check later_ids: " + protein_ids.length + "<br>";
    //text += "total_ids: " + "{{protein_ids_total|length}}" + "<br>";
    /*
    for (i = 0; i < protein_ids_initial.length; i++) {
        var b1 = $.inArray(protein_ids_initial[i], protein_ids);
        if (b1) {
            text += protein_ids[i] + "<br>";
        }
        }
    text += "later_ids:<br>";
    for (i = 0; i < protein_ids.length; i++) { 
    text += protein_ids[i] + "<br>";
    }
    */


//$('#testpoint').html( text );
//reset_tablesort();

function table_exportable() {

// $('table').each(function() {
    //var $table = $(this);
    var $table = $('#cssTable');
 
    var $button1 = $("<button type='button' class='btn btn-lg btn-success'>");
    var $button2 = $("<button type='button' class='btn btn-lg btn-success'>");
    $button1.text("Export to spreadsheet");
    $button2.text("Export to spreadsheet");
    $button1.insertBefore($table);
    $button2.insertAfter($table);
 
    $button1.click(function() {
      var csv = $table.table2CSV({delivery:'value'});
      window.location.href = 'data:text/csv;charset=UTF-8,'
                            + encodeURIComponent(csv);
    });
 
    $button2.click(function() {
      var csv = $table.table2CSV({delivery:'value'});
      window.location.href = 'data:text/csv;charset=UTF-8,'
                            + encodeURIComponent(csv);
    });
//  });
}


//    for (i = 0; i < protein_ids.length; i++) { 
        $.ajax({
                        url : render_url, 
                        type : "POST",
                        dataType: "html", 
                        data : {
                            'expt_id' : expt_id,
                            csrfmiddlewaretoken: csrftoken
                            },
                            success : function(retdat) {
                                //$("#testpoint" ).append( "<br>" + retdat + "<br>" );
                                $("#emptyslot" ).append( "<br>" + retdat + "<br>" );
                                //$('#cssTable tr:last').after(retdat);
                                reset_tablesort();
                                table_exportable();
                                $('.div-1').css(( "z-index" ), -100 );
                                $('#loader').hide();
                                //$("#testpoint" ).append( "<br>" + "complete" + "<br>" );
                                //$('.tablesorter').trigger('update'); //this is absolute GOLD!!!
                                //reset_tablesort();
                            },
                            error : function(xhr,errmsg,err) {
                                alert(xhr.status + ": " + xhr.responseText);
                            }
                    });
//    }	



});




</script>



</head>


<h1>Experiment = <span class="text-primary">{{expt.title}}</span></h1>


{% endblock %}

{% block content %}

<div id="summary"></div>

{% if publications %}

<h2 class="text-primary">Please cite the following publications when using this data:</h2>
<ul>
{% for publication in publications %}

<li>{{publication.display}}</li>

{% endfor %}

{% endif %}

</ul>

<div id="testpoint"></div>


</div> <!-- container --> 




<div class="table_body">


{% if not complete %}<p class="text-info">You do not have permission to view some or all of this data {% endif %} </p>

<div class="div-1">
<img id="loader" class="center" src="{% static 'animations/ajax_loader_blue_512.gif' %}"/>
</div>

    <div id="emptyslot"></div>

</div> <!-- table_body -->

<div class="container">

{% endblock %}
