{% extends 'pepsite/base.html' %}
{% load template_filter %}

{% block headline %}

<style>
#cssTable td 
{
    text-align:center; 
    vertical-align:middle;
}
#cssTable th 
{
    text-align:center; 
    vertical-align:middle;
}

.hilite:hover
{
background-color:yellow;
}
.hilite
{
cursor:pointer;
}

.table_body
{
    margin-left: 50px;
    margin-right: 50px;
}



</style>


<script>

/*
$(document).ready(function() {



$('#header').load( "{% url 'pepsite:nav_buttons' %}" );
$('#footer').load( "{% url 'pepsite:nav_buttons' %}" );


//$("#cssTable").tablesorter(); 
    $("#cssTable").tablesorter({ 
        // pass the headers argument and assing a object 
        headers: { 
            // assign the secound column (we start counting zero) 
            1: { 
                // disable it by setting the property sorter to false 
                sorter: false 
            }, 
            // assign the third column (we start counting zero) 
            //2: { 
            //    // disable it by setting the property sorter to false 
            //    sorter: false 
            //} 
        } 
    });

});
*/

    $(document).ready(function() {
        $('#header').load( "{% url 'pepsite:nav_buttons' %}" );
        $('#footer').load( "{% url 'pepsite:nav_buttons' %}" );
        var search = "{{search}}";

        if ( search === "True" ) {
            search = true;
            } else {
            search = false;
        }

        var query_on = "{{query_on}}";
        var queryObjId = "1";

        if ( !search ) {
            var queryObjId = "{{query_obj.id}}";
            var a = "1";
            var url1 = "{% url 'pepsite:model_info' query_on "1"  %}";
            var url2 = url1.replace( "1", queryObjId );

            $('#summary').load( url2 );
            //$('#summary').html( url2 );
            }
            
        $("#cssTable").tablesorter({
            textExtraction : 'complex',
            sortMultiSortKey: 'none'
        });
    });

</script>



</head>



{% if search %}

{% if heading %}

<h1>Search results for <span class="text-primary">{{ heading }}</span> search on <span class="text-info">{{text_input}}</span></h1>
<p class="text-info">Interactive results page</p>

{% else %}

<h1>Search results for <span class="text-primary">{{ query_on }}</span> search on <span class="text-info">{{text_input}}</span></h1>
<p class="text-info">Interactive results page</p>

{% endif %}

{% else %}

<h1><span class="text-primary">{{ query_on }}</span> = <span class="text-info">{{text_input}}</span></h1>
<p class="text-info">Interactive results page</p>


{% endif %}

{% endblock %}

{% block content %}

Search = {{search}} {{query_on}}

<div id="summary"></div>

</div> <!--  container  -->

    <table class="table table-striped tablesorter" id="cssTable">
    <thead>
        <tr><th class="hilite">Protein</th><th/><th class="hilite">Peptide</th><th class="hilite">Peptide length</th><th>Position(s) in Protein</th><th class="hilite">Modification</th><th class="hilite">Delta Mass</th><th class="hilite">Confidence</th><th class="hilite">Charge State</th><th class="hilite">Retention Time</th><th class="hilite">Precursor Mass</th><th class="hilite">Experiment</th></tr>
    </thead>
    <tbody>
    {% for row in rows %}
        <tr>
            <td>
	       <a href="{% url 'pepsite:protein_peptides' row.protein.id %}" class="link">{{row.protein.description}}</a>
            </td>
            <td>
            <form action="{{ row.protein.get_uniprot_link }}" target="_blank">
        <input class="btn btn-primary" type="submit" value="UniProt entry for {{row.protein.name}}">
	</form>
            </td>
            <td>
	        <a href="{% url 'pepsite:peptide_peptides' row.ide.peptide.id %}" class="link">{{row.ide.peptide.sequence}}</a>
            </td>
            <td>
                {{row.ide.peptide.sequence|length}}
            </td>
            <td>
               {{ row.peptoprot.get_positions }}
	   </td>
	   <td>
	   {% if row.ide.ptm %}
	       <a href="{% url 'pepsite:ptm_peptides' row.ide.ptm.id %}" class="link">{{row.ide.ptm.description}}</a>
	   {% endif %}
	   </td>
	   <td>
	   {{ row.ide.delta_mass }}
	   </td>
	   <td>
	   {{ row.ide.confidence }}
	   </td>
	   <td>
	   {{ row.ide.ion.charge_state }}
	   </td>
	   <td>
	   {{ row.ide.ion.retention_time }}
	   </td>
	   <td>
	   {{ row.ide.ion.precursor_mass }}
           </td>
           <td>
	       <a href="{% url 'pepsite:expt2' row.expt.id %}" class="link">{{row.expt.title}}</a>
           </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock %}


