{% extends "base.html" %}

{% block headline %}

<script>

$(document).ready(function() {

$('#footer').load( "{% url 'pepsite:footer' %}" );

});

</script>



<h1><strong class="text-primary">Haplodome</strong> peptide searches</h1>
<p class="text-info">A platform for retrieval of immunoproteomic data</p>

{% endblock %}

{% block content %}

<h2>Returning Experiments</h2>
<br>

<p>

<a href="{% url 'pepsite:allele_search' %}" class="btn btn-lg btn-primary">Search by allele / serotype</a>


<a href="{% url 'pepsite:allele_browse' %}" class="btn btn-lg btn-info">Browse alleles / serotypes</a>


</p>


<p>

<a href="{% url 'pepsite:cell_line_search' %}" class="btn btn-lg btn-primary">Search by Cell Line</a>


<a href="{% url 'pepsite:cell_line_browse' %}" class="btn btn-lg btn-info">Browse Cell Lines</a>


</p>

<p>

<a href="{% url 'pepsite:cell_line_tissue_search' %}" class="btn btn-lg btn-primary">Search by Tissue type</a>


<a href="{% url 'pepsite:cell_line_tissue_browse' %}" class="btn btn-lg btn-info">Browse Tissue types</a>


</p>

<p>

<a href="{% url 'pepsite:protein_search' %}" class="btn btn-lg btn-primary">Search by Protein</a>


<a href="{% url 'pepsite:protein_browse_ajax' %}" class="btn btn-lg btn-info">Browse Proteins</a>


</p>

<p>

<a href="{% url 'pepsite:composite_search' %}" class="btn btn-lg btn-primary">Composite Search</a>

</p>

<p>

<a href="{% url 'pepsite:experiment_browse' %}" class="btn btn-lg btn-success">Browse Experiments</a>

</p>

<hr>

<h2>Returning peptide lists</h2>
<br>

<p>

<a href="{% url 'pepsite:mass_search' %}" class="btn btn-lg btn-primary">Search by Precursor Mass</a>

</p>

<p>

<a href="{% url 'pepsite:mz_search' %}" class="btn btn-lg btn-primary">Search by m/z</a>

</p>

<p>

<a href="{% url 'pepsite:ptm_peptide_search' %}" class="btn btn-lg btn-primary">PTM Search</a>

</p>

<p>

<a href="{% url 'pepsite:sequence_search' %}" class="btn btn-lg btn-primary">Search by Peptide sequence</a>

</p>

<hr>

<h2>Comparison</h2>
<br>

<p>

<a href="{% url 'pepsite:compare_expt_form_ajax' %}" class="btn btn-lg btn-primary">Compare Experiments</a>

</p>



<hr>
<br>

<p>

<a href="{% url 'home' %}" class="btn btn-danger">Return to Haplodome home</a>

</p>

<hr>
<br>

{% endblock %}
