{% extends "pepsite/base.html" %}

{% block headline %}

<script>

$(document).ready(function() {

$('#footer').load( "{% url 'pepsite:footer' %}" );

});

</script>



<h1><strong class="text-primary">Haplodome</strong> peptide searches</h1>
<p class="text-info">A platform for retrieval of immunoproteomic data</p>

{% endblock %}

{% block content %}


<p>

<a href="{% url 'pepsite:allele_search' %}" class="btn btn-lg btn-primary">Search by allele / serotype</a>


<a href="{% url 'pepsite:allele_browse' %}" class="btn btn-lg btn-info">Browse alleles / serotypes</a>


</p>


<p>

<a href="{% url 'pepsite:cell_line_search' %}" class="btn btn-lg btn-primary">Search by Cell Line</a>


<a href="{% url 'pepsite:cell_line_browse' %}" class="btn btn-lg btn-info">Browse Cell Lines</a>


</p>

<p>

<a href="{% url 'pepsite:cell_line_tissue_search' %}" class="btn btn-lg btn-primary">Search by Tissue type</a>


<a href="{% url 'pepsite:cell_line_tissue_browse' %}" class="btn btn-lg btn-info">Browse Tissue types</a>


</p>

<p>

<a href="{% url 'pepsite:protein_search' %}" class="btn btn-lg btn-primary">Search by Protein</a>


<a href="{% url 'pepsite:protein_browse' %}" class="btn btn-lg btn-info">Browse Proteins</a>


</p>

<p>

<a href="{% url 'pepsite:composite_search' %}" class="btn btn-lg btn-primary">Composite Search</a>

</p>

<p>

<a href="{% url 'home' %}" class="btn btn-danger">Return to Haplodome home</a>

</p>



{% endblock %}
