{% extends 'base.html' %}
{% load staticfiles %}

{% block headline %}

<style>

#loader
{
z-index:10;
}

.div-1 {
    position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    z-index: -200;
}
.center {
    width: 80%;
    height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

</style>
<style>

                    #yourform {
                        border : none;
  }
</style>

<script>


    $(document).ready(function() {

$('#id_expt1').click( function() {
    var selected = $('#id_expt1 option:selected').val();
    if ( selected === "-1" ) {
        $("label[for='id_expt2']").show();
        $("#wrapper_id_expt2").show();
        $("#wrapper_id_ab1").show();
        $("#wrapper_id_cl1").show();
        //$('#res1').html( '<h1>NEW</h1>' );
    }
    else {
        $("label[for='id_expt2']").hide();
        $("#wrapper_id_expt2").hide();
        $("#wrapper_id_ab1").hide();
        $("#wrapper_id_cl1").hide();
        //$('#res1').html( '<h1>' + selected + '</h1>' );
    }
    
});


$('#header').load( "{% url 'pepsite:nav_buttons' %}" );
$('#footer').load( "{% url 'pepsite:nav_buttons' %}" );


$('#loader').hide();


$('#ssupload').click( function () {
    $('.div-1').css(( "z-index" ), 10 );
    $('#loader').show();

});


});

</script>


</head>


<h1>Upload <span class="text-primary">multiple</span> spreadsheets</h1>
<p class="text-info">Upload Multiple <strong>ProteinPilot</strong> Peptide summary spreadsheets</p>


{% endblock %}

{% block content %}

<div class="div-1">
<img id="loader" class="center" src="{% static 'animations/ajax_loader_blue_512.gif' %}"/>
</div>

<h2 class="text-primary">Please enter upload details...</h2>

<!--


<h2 class="text-primary">Please enter upload details...</h2>
<form enctype="multipart/form-data" action="{% url 'pepsite:upload_multiple_ss_form' %}" method="post" id="formloc">

    {% csrf_token %}
    {% for field in textform %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {{ field.help_text }}
            {{ field.urlstr }}
            {{ field.crap }}
        </div>
    {% endfor %}
    <input id="multifile" name="mfiles" type="file" multiple="multiple"/>

    <br>


</form>


<fieldset id="buildyourform">
</fieldset>
<input type="button" class="btn btn-lg btn-success" value="Preview Upload(s)" class="add" id="preview" />

-->


<form id="formloc" class="form-horizontal" method="post" enctype="multipart/form-data" action="{% url 'pepsite:upload_multiple_ss_form' %}">{% csrf_token %}
    <fieldset>
        <legend>{{ title }}</legend>
        {% for field in textform %}
            {% if False %}
                <div class="control-group error">
                    <label class="control-label">{{ field.label }}</label> 
                    <div class="controls">{{ field }}
                        <span class="help-inline">
                            {% for error in  field.errors %}{{ error }}{% endfor %}
                        </span>
                    </div>
                </div>
            {% else %}
            <div id="wrapper_{{field.auto_id}}" class="control-group">
                    <label class="control-label">{{ field.label }}</label> 
                    <div class="controls">{{ field }}
                        {% if field.help_text %}
                            <p class="help-inline"><small>{{ field.help_text }}</small></p>
                            <br>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="control-group">
        <label class="control-label">Please select spreadsheets to upload</label>
        <div class="controls">
        <input id="multifile" name="mfiles" type="file" multiple="multiple"/>
        </div>
        </div>



        <br>

    </fieldset>
    <div class="form-actions">
        <button id="ssupload" class="btn btn-lg btn-success" >Preview</button>
    </div>
</form>

<div id="footer"></div>

</div>
{% endblock %}
