

<form action="{% url 'pepsite:allele_search' %}">
<input class="btn btn-warning" type="submit" value="Make another allele search">
</form>

<br>

<form action="{% url 'pepsite:index' %}">
<input class="btn btn-danger" type="submit" value="Return to Haplodome search index">
</form>

<br>

<form action="{% url 'home' %}">
<input class="btn btn-danger" type="submit" value="Return to Haplodome home">
</form>

<br>
<form action='/logout'>
<input class="btn btn-lg btn-danger" type="submit" value="Logout">
</form>

<br>


