

{% load template_filter %}
      {% load guardian_tags %}

<h1 class="text-primary center">Peptides detected</h1>

    <table class="table table-striped tablesorter" id="cssTable">
    <thead>
        <tr><th class="hilite">Protein</th><th>UniProt id</th><th class="hilite">Peptide</th><th class="hilite">Peptide length</th><th>Position(s) in Protein</th><th class="hilite">Modification</th><th class="hilite">Delta Mass</th><th class="hilite">Confidence</th><th>m/z</th><th class="hilite">Charge State</th><th class="hilite">Retention Time</th><th class="hilite">Precursor Mass</th><th class="hilite">Experiment</th></tr>
    </thead>
    <tbody id="tb">

    {% for row in rows %}
    {% if row.protein_id and row.peptide_id and row.experiment_id %}
        <tr>
        <td>{% for prot in row.proteinarray %}{% if prot.0 %}<a href="{% url 'pepsite:protein_peptides' prot.0 %}" class="link">{{prot.1}}</a>{% endif %} {% endfor %}</td>

        <td>{% for prot in row.proteinarray %}{% if prot.0 %}<a href="http://www.uniprot.org/uniprot/{{prot.2}}" class="link" target="_blank">{{prot.2}}</a>{% endif %} {% endfor %}</td>

            <td><a href="{% url 'pepsite:peptide_peptides' row.peptide_id %}" class="link">{{row.peptide_sequence}}</a></td>
            
            <td>{{row.peptide_sequence|length}}</td>
            
            <td>{{ row.posnstr }}</td>
            
            <td>{% for ptm in row.ptmarray %}{% if ptm.0 %}<a href="{% url 'pepsite:ptm_peptides' ptm.0 %}" class="link">{{ptm.1}}</a>{% endif %} {% endfor %}</td>
            
            <td>{{ row.delta_mass | floatformat:4 }}</td>
            
            <td>{{ row.confidence | floatformat:2 }}</td>
            
            <td>{{ row.mz | floatformat:2 }}</td>
            
            <td>{{ row.charge_state }}</td>
            
            <td>{{ row.retention_time | floatformat:2 }}</td>
            
            <td>{{ row.precursor_mass | floatformat:2 }}</td>
            
            <td><a href="{% url 'pepsite:expt2_ajax_rapid' row.experiment_id %}" class="link">{{row.experiment_title}}</a></td>
        
        </tr>
    {% endif %}
    {% endfor %}
    </tbody>
    </table>


<br>




