{% extends 'base.html' %}

{% block headline %}

<script>


$(document).ready(function() {

    $('#summary').load( "{% url 'pepsite:model_info' 'Protein' protein.id %}" ); 

$('#header').load( "{% url 'pepsite:nav_buttons' %}" );
$('#footer').load( "{% url 'pepsite:nav_buttons' %}" );
    $("#cssTable").tablesorter(); 

});

</script>


<style>
#cssTable td 
{
    text-align:center; 
    vertical-align:middle;
}
#cssTable th 
{
    text-align:center; 
    vertical-align:middle;
}

th:hover
{
background-color:yellow;
}
th
{
cursor:pointer;
}

</style>


</head>


<h1>Protein = <span class="text-primary">{{protein.name}}</span></h1>
<p class="text-info">Interactive results page</p>


{% endblock %}

{% block content %}

<div id="summary">
    
</div>

    

<hr>

<br>

    <h3>Detected Peptides for <span class="text-primary">Protein</span> = <span class="text-info">{{protein.name}}</span>:</h3>
    </br>
    <table class="table table-striped tablesorter" id="cssTable">
    <thead>
    <tr><th>Experiment</th><th>Peptide</th><th>Modification</th><th>Delta Mass</th><th>Confidence</th><th>Charge State</th><th>Retention Time</th><th>Precursor Mass</th></tr>
    </thead>
    <tbody>
{% for peptide in protein.peptide_set.all %}
    {% for idestimate in peptide.idestimate_set.all %}
	{% for experiment in idestimate.ion.experiments.all %}
<tr>
	<td>
	<a href="{% url 'pepsite:expt2' experiment.id %}" class="link">{{experiment.title}}</a>
	</td>
	<td>
	<a href="{% url 'pepsite:peptide_expts' peptide.id %}" class="link">{{peptide.sequence}}</a>
	</td>
	<td>
	{{ idestimate.ptm.description }}
	</td>
	<td>
	{{ idestimate.delta_mass }}
	</td>
	<td>
	{{ idestimate.confidence }}
	</td>
	<td>
	{{ idestimate.ion.charge_state }}
	</td>
	<td>
	{{ idestimate.ion.retention_time }}
	</td>
	<td>
	{{ idestimate.ion.precursor_mass }}
	</td>
        </tr>



        {% endfor %}
    {% endfor %}
{% endfor %}
</tbody>
</table>
<hr>

{% endblock %}
