{% extends 'base.html' %}

{% block headline %}

<script>


$(document).ready(function() {
    
$('#header').load( "{% url 'pepsite:nav_buttons' %}" );
$('#footer').load( "{% url 'pepsite:nav_buttons' %}" );

$("#cssTable1").tablesorter({
    //textExtraction : 'complex',
    sortMultiSortKey: 'none'
    });

$("#cssTable2").tablesorter({
    //textExtraction : 'complex',
    sortMultiSortKey: 'none'
    });

});

</script>


<style>
.tablesorter td 
{
    text-align:center; 
    vertical-align:middle;
}
.tablesorter th 
{
    text-align:center; 
    vertical-align:middle;
}

th:hover
{
background-color:yellow;
}
th
{
cursor:pointer;
}

</style>

</head>


<h1>Browse by <span class="text-primary">Protein</span></h1>
<p class="text-info">Catalogue page</p>


{% endblock %}

{% block content %}




{% if proteins %}
    <h3><span class="text-primary">Proteins</span> available:</h3>
    </br>

    <table class="table table-striped tablesorter" id="cssTable1">
    <thead>
    <tr>
        <th>Protein</th><th>Peptides<th>Experiments</th>
    </tr>
    </thead>
    <tbody>
        {% for protein in proteins %}
        <td>
	    <a href="{% url 'pepsite:protein_peptides' protein.id %}">{{protein.name}}</a> 
        </td>
        <td>
            {% for peptide in protein.peptide_set.all %}
            <a href="{% url 'pepsite:peptide_expts' peptide.id %}">{{peptide.sequence}}</a>
            {% endfor %} 
	</td>
	<td>
	
	{% for expt in protein.get_experiments %}
		<a href="{% url 'pepsite:expt2' expt.id %}">{{ expt.title }}</a>
	{% endfor %}
	
	</td>
        </tr>
	
    {% endfor %}
    </tbody>
    </table>

    <br><hr><br>
{% else %}
  <h3 class="text-danger">No Proteins found</h3>
  <br> 
{% endif %}

{% endblock %}
