{% extends 'base.html' %}

{% load staticfiles %}


{% block headline %}

<script>


$(document).ready(function() {
    
$('#header').load( "{% url 'pepsite:nav_buttons' %}" );
$('#footer').load( "{% url 'pepsite:nav_buttons' %}" );

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');


$("#cssTable1").tablesorter({
    //textExtraction : 'complex',
    sortMultiSortKey: 'none'
    });

$("#cssTable2").tablesorter({
    //textExtraction : 'complex',
    sortMultiSortKey: 'none'
    });

    var render_url = "/pepsite/browsable_proteins_render_quicker";

//    $('#testpoint').append( 'hello<br>' );
//reset_tablesort();

function table_exportable() {

// $('table').each(function() {
    //var $table = $(this);
    var $table = $('#cssTable');
 
    var $button1 = $("<button type='button' class='btn btn-lg btn-success'>");
    var $button2 = $("<button type='button' class='btn btn-lg btn-success'>");
    $button1.text("Export to spreadsheet");
    $button2.text("Export to spreadsheet");
    $button1.insertBefore($table);
    $button2.insertAfter($table);
 
    $button1.click(function() {
      var csv = $table.table2CSV({delivery:'value'});
      window.location.href = 'data:text/csv;charset=UTF-8,'
                            + encodeURIComponent(csv);
    });
 
    $button2.click(function() {
      var csv = $table.table2CSV({delivery:'value'});
      window.location.href = 'data:text/csv;charset=UTF-8,'
                            + encodeURIComponent(csv);
    });
//  });
}


function reset_tablesort() {       

    $("#cssTable").tablesorter({ 
        // pass the headers argument and assing a object 
        headers: { 
            // assign the secound column (we start counting zero) 
            1: { 
                // disable it by setting the property sorter to false 
                //sorter: false 
            }, 
        } 
    });
}



//    for (i = 0; i < protein_ids.length; i++) { 
        $.ajax({
                        url : render_url, 
                        type : "POST",
                        dataType: "html", 
                        data : {
                            //'exptz' : exptz,
                            //'expt' : expt1,
                            csrfmiddlewaretoken: csrftoken
                            },
                            success : function(retdat) {
                                $("#emptyslot" ).append( "<br>" + retdat + "<br>" );
                                reset_tablesort();
                                table_exportable();
                                $('.div-1').css(( "z-index" ), -100 );
                                $('#loader').hide();
                                //$('#cssTable tr:last').after(retdat);
                                //$("#testpoint" ).append( "<br>" + "complete" + "<br>" );
                                //$('.tablesorter').trigger('update'); //this is absolute GOLD!!!
                                //reset_tablesort();
                            },
                            error : function(xhr,errmsg,err) {
                                alert(xhr.status + ": " + xhr.responseText);
                            }
                    });

});

</script>

<style>
#cssTable td 
{
    text-align:center; 
    vertical-align:middle;
}
#cssTable th 
{
    text-align:center; 
    vertical-align:middle;
}

.hilite:hover
{
background-color:yellow;
}
.hilite
{
cursor:pointer;
}

.table_body
{
    margin-left: 50px;
    margin-right: 50px;
}

#loader
{
z-index:-10;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}




</style>


</head>


<h1>Browse by <span class="text-primary">Protein</span></h1>
<p class="text-info">Catalogue page</p>


{% endblock %}

{% block content %}


</div> <!-- container --> 
<div id="testpoint"></div>

{% load template_filter %}




{% if not complete %}<p class="text-info">{{complete}} You do not have permission to view some or all of this data </p>{% endif %}



<br>


<div class="table_body">

<div class="div-1">
<img id="loader" class="center" src="{% static 'animations/ajax_loader_blue_512.gif' %}"/>
</div>

    <div id="emptyslot"></div>

</div> <!-- table_body -->



<div class="container">



{% endblock %}
