

{% if rows %}
    <h3><span class="text-primary">Proteins</span> available:</h3>
    </br>

    <table class="table table-striped tablesorter" id="cssTable">
    <thead>
    <tr>
        <th>Protein</th><th>Experiments</th>
    </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            <td><a href="{% url 'pepsite:protein_peptides' row.protein_id %}">{{row.protein_description}}</a></td>
	
            <td>{% for expt in row.exptarray %}{% if expt.0 %}<a href="{% url 'pepsite:expt2_ajax_rapid' expt.0 %}" class="link">{{expt.1}}</a>{% endif %} {% endfor %}</td>
        </tr>
	
    {% endfor %}
    </tbody>
    </table>

    <br><hr><br>
{% else %}
  <h3 class="text-danger">No Proteins found</h3>
  <br> 
{% endif %}
