{% extends 'pepsite/base.html' %}

{% block headline %}

<script>


    $(document).ready(function() {
        $('#header').load( "{% url 'pepsite:nav_buttons' %}" );
        $('#footer').load( "{% url 'pepsite:nav_buttons' %}" );
        var search = "{{search}}";

        if ( search === "True" ) {
            search = true;
            } else {
            search = false;
        }

        var query_on = "{{query_on}}";
        var queryObjId = "1";

        if ( !search ) {
            var queryObjId = "{{query_obj.id}}";
            var a = "1";
            var url1 = "{% url 'pepsite:model_info' query_on "1"  %}";
            var url2 = url1.replace( "1", queryObjId );

            //$('#summary').load( "{% url 'pepsite:model_info' query_on "1"  %}" );
            $('#summary').load( url2 );
            //$("#summary").html( "{{query_obj.id}}" );
            }
            
        $("#cssTable").tablesorter({
            textExtraction : 'complex',
            sortMultiSortKey: 'none'
        });
    });

</script>


<style>
#cssTable td 
{
    text-align:center; 
    vertical-align:middle;
}
#cssTable th 
{
    text-align:center; 
    vertical-align:middle;
}

th:hover
{
background-color:yellow;
}
th
{
cursor:pointer;
}

</style>

</head>


{% if search %}

{% if heading %}

<h1>Search results for <span class="text-primary">{{ heading }}</span> search on <span class="text-info">{{text_input}}</span></h1>
<p class="text-info">Interactive results page</p>

{% else %}

<h1>Search results for <span class="text-primary">{{ query_on }}</span> search on <span class="text-info">{{text_input}}</span></h1>
<p class="text-info">Interactive results page</p>

{% endif %}

{% else %}

<h1><span class="text-primary">{{ query_on }}</span> = <span class="text-info">{{text_input}}</span></h1>
<p class="text-info">Interactive results page</p>


{% endif %}

{% endblock %}

{% block content %}



<div id="summary">
    
</div>

    

{% if msg %}
    <h3>Expermiments found for query <span class="text-primary">{{text_input}}</span>:</h3>
    </br>

    <table class="table table-striped tablesorter" id="cssTable">
    <thead>
    <tr>
        <th>Experiment</th>
        <th>Cell Line</th><th>Organism(s)</th><th>Antibody(ies)</th><th>Eluted DNA types</th><th>Eluted Serotypes</th>
    </tr>
    </thead>
    <tbody>
    {% for exp in msg %}
        <tr>
	<td><a href="{% url 'pepsite:expt2' exp.id %}">{{ exp.title }}</a></td>

        <td>
	    <a href="{% url 'pepsite:cell_line_expts' exp.cell_line.id %}">{{exp.cell_line.name}}</a> 
	    {{exp.cell_line.description}}
	</td>
	<td>
	
	{% for org in exp.cell_line.get_organisms %}
		<a href="{% url 'pepsite:entity_expts' org.id %}">{{ org.common_name }}</a>
	{% endfor %}
	
	</td>
	<td>
	{% for ab in exp.antibody_set.all %}
		<a href="{% url 'pepsite:antibody_expts' ab.id %}">{{ ab.name }}</a>
	{% endfor %}
	
	</td>
	<td>
	{% for al in exp.get_common_alleles %}
	  {% if not al.isSer %}
		<a href="{% url 'pepsite:allele_expts' al.id %}">{{ al.code }}</a>
	  {% endif %}
	{% endfor %}
	</td>
	<td>
	{% for al in exp.get_common_alleles %}
	  {% if al.isSer %}
		<a href="{% url 'pepsite:allele_expts' al.id %}">{{ al.code }}</a>
	  {% endif %}
	{% endfor %}
	</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% else %}
  <h3 class="text-danger">No Expermiments found for query <span class="text-primary">{{text_input}}</span></h3>
  <br> 
{% endif %}



{% endblock %}
