{% extends 'pepsite/base.html' %}

{% block headline %}

<script>


$(document).ready(function() {
    $('#footer').load( "{% url 'pepsite:nav_buttons' %}" );
    //var prw = "{{upload.allstr|escapejs}}";
    //$('#peptides').html( prw );

    $("#cssTable").tablesorter({ 
        // pass the headers argument and assing a object 
        headers: { 
            // assign the secound column (we start counting zero) 
            //1: { 
                // disable it by setting the property sorter to false 
            //    sorter: false 
            //}, 
            // assign the third column (we start counting zero) 
            //2: { 
            //    // disable it by setting the property sorter to false 
            //    sorter: false 
            //} 
        } 
    });

});

</script>

<style>
#cssTable td 
{
    text-align:center; 
    vertical-align:middle;
}
#cssTable th, .peptabhead 
{
    text-align:center; 
    vertical-align:middle;
}

.hilite:hover
{
background-color:yellow;
}
.hilite
{
cursor:pointer;
}

.table_body
{
    margin-left: 50px;
    margin-right: 50px;
}



</style>

</head>


<h1 class="text-primary">Upload preview</h1>
<p class="text-info">How upload will look if committed</p>


{% endblock %}
{% block content %}

</div> <!--  -->


{% for k,v in ul.items %}
    {{k}} <br>
    {% for k1, v1 in v.items %}
        {{k1}} {{v1}} <br>
    {% endfor %}
    <br><hr>
{% endfor %}


<h2 class="text-primary peptabhead">Data Preview</h2>



{% endblock %}
