{% extends 'base.html' %}

{% block headline %}

<script>


$(document).ready(function() {
    $('#footer').load( "{% url 'pepsite:nav_buttons' %}" );

});

</script>

<style>
#cssTable td 
{
    text-align:center; 
    vertical-align:middle;
}
#cssTable th, .peptabhead 
{
    text-align:center; 
    vertical-align:middle;
}

.hilite:hover
{
background-color:yellow;
}
.hilite
{
cursor:pointer;
}

.table_body
{
    margin-left: 50px;
    margin-right: 50px;
}



</style>

</head>


<h1 class="text-primary">Upload underway</h1>
<p class="text-info">You will receive email notification when upload and database updates are complete</p>


{% endblock %}
{% block content %}

</div> <!--  -->





{% endblock %}
