{% extends 'base.html' %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}

{% block headline %}
    <h1><span class="text-primary">Dashboard</span></h1>
    <p class="text-info">Quick Overview of Activity on Haplodome</p>
{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-md-6">
            <div class="well well-fixed-height">

                <p class="text-muted text-left">Lodgements</p>
                <h1><p class="text-success text-center stat-counter-text">{{ lodgement_count }}</p></h1>
                <p class="text-muted text-right">spreadsheets uploaded</p>

            </div>
        </div>

        <div class="col-md-6">
            <div class="well well-fixed-height">

                <p class="text-muted text-left">ID Estimates</p>
                <h1><p class="text-success text-center stat-counter-text">{{ idestimate_count }}</p></h1>
                <p class="text-muted text-right">spectrometer data points</p>

            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="well well-fixed-height">
                <p>&nbsp;</p>
                <h1><p class="text-success text-center stat-counter-text">{{ peptide_count }}</p></h1>
                <p class="text-muted text-right">Peptides</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well well-fixed-height">
                <p>&nbsp;</p>
                <h1><p class="text-success text-center stat-counter-text">{{ protein_count }}</p></h1>
                <p class="text-muted text-right">Proteins</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well well-fixed-height">
                <p>&nbsp;</p>
                <h1><p class="text-success text-center stat-counter-text">{{ allele_count }}</p></h1>
                <p class="text-muted text-right">Alleles</p>
            </div>
        </div>

    </div>
{% endblock %}