{% extends 'base.html' %}

{% load staticfiles %}

{% block headline %}

<style>

#loader
{
z-index:10;
}

.div-1 {
    position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    z-index: -200;
}
.center {
    width: 80%;
    height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

</style>


<script>


$(document).ready(function() {

$('#footer').load( "{% url 'pepsite:nav_buttons' %}" );


function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');

$('#id_expt1').click( function() {
    var selected = $('#id_expt1 option:selected').val();
    if ( selected === "-1" ) {
        $("label[for='id_expt2']").show();
        $("#wrapper_id_expt2").show();
        $("#wrapper_id_ab1").show();
        $("#wrapper_id_cl1").show();
        //$('#res1').html( '<h1>NEW</h1>' );
    }
    else {
        $("label[for='id_expt2']").hide();
        $("#wrapper_id_expt2").hide();
        $("#wrapper_id_ab1").hide();
        $("#wrapper_id_cl1").hide();
        //$('#res1').html( '<h1>' + selected + '</h1>' );
    }
    
});

$('#loader').hide();


$('#ssupload').click( function () {
    $('.div-1').css(( "z-index" ), 10 );
    $('#loader').show();
    var resultdiv = "#resultdiv";
    var datain = new FormData($('#ssform').get(0));

    //var option=$('#ssform').serialize();
                                //$( resultdiv ).html( option );

                    //var input_string = $("#" + textfield_id ).val();
                    $.ajax({
                            url: $(this).attr('action'),
                            type: $(this).attr('method'),
                        //url : "upload_ss_form", 
                        //type : "POST",
                        //dataType: "html", 
                            cache: false,
    //processData: false,
    contentType: false,
                        data : {
                            client_response : datain,
                            csrfmiddlewaretoken: csrftoken
                            },
                            success : function(retdat) {
                                $( resultdiv ).html( "DONE AGAIN" );
                                //$( resultdiv ).html( datain );
                            },
                            error : function(xhr,errmsg,err) {
                                alert(xhr.status + ": " + xhr.responseText);
                            }
                    });
                    return false;
            });



});

</script>


</head>


<h1>Upload a <span class="text-primary">Spreadsheet</span></h1>
<p class="text-info">Upload a <strong>ProteinPilot</strong> Peptide summary spreadsheet</p>


{% endblock %}
{% block content %}

<div class="div-1">
<img id="loader" class="center" src="{% static 'animations/ajax_loader_blue_512.gif' %}"/>
</div>

<h2 class="text-primary">Please enter upload details...</h2>

<!--

<form enctype="multipart/form-data" action="{% url 'pepsite:upload_ss_form' %}" method="post" id="ssform">

    {% csrf_token %}
    {% for field in textform %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {{ field.help_text }}
            {{ field.urlstr }}
            {{ field.crap }}
        </div>
    {% endfor %}
    <br>


<button id="ssupload" class="btn btn-lg btn-success" value="Upload">Proceed to Upload Preview</button>
</form>
<hr>
<br>
-->


<form id="formloc" class="form-horizontal" method="post" enctype="multipart/form-data" action="{% url 'pepsite:upload_ss_form' %}">{% csrf_token %}
    <fieldset>
        <legend>{{ title }}</legend>
        {% for field in textform %}
            {% if False %}
                <div class="control-group error">
                    <label class="control-label">{{ field.label }}</label> 
                    <div class="controls">{{ field }}
                        <span class="help-inline">
                            {% for error in  field.errors %}{{ error }}{% endfor %}
                        </span>
                    </div>
                </div>
            {% else %}
            <div id="wrapper_{{field.auto_id}}" class="control-group">
                    <label class="control-label">{{ field.label }}</label> 
                    <div class="controls">{{ field }}
                        {% if field.help_text %}
                            <p class="help-inline"><small>{{ field.help_text }}</small></p>
                            <br>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}


        <br>

    </fieldset>
    <div class="form-actions">
        <button id="ssupload" class="btn btn-lg btn-success" >Preview</button>
    </div>
</form>


<div id="resultdiv"></div>




{% endblock %}
