{% extends 'base.html' %}

{% load staticfiles %}

{% block headline %}


<h1>About <strong class="text-primary">Haplodome</strong></h1>
<p class="text-info">What is the Haplodome and who are we?</p>


{% endblock %}

{% block content %}

<p class="lead">
The Haplodome is an immunoproteomic database and related suite of tools designed and hosted by the <a href="http://www.med.monash.edu.au/biochem/staff/purcell.html" target="_blank">Purcell Group</a> at Monash University.
Peptide MS/MS data published here are available to any and all users, provided that suggested citations are followed.
</p>


<a href="{% url 'pepsite:index' %}" class="btn btn-success">Query the database</a>


<div id="footer"></div>


{% endblock %}
