{% extends 'base.html' %}

{% load staticfiles %}

{% block headline %}


<h1>Contact us @<strong class="text-primary">Haplodome</strong></h1>


{% endblock %}

{% block content %}


    <address class="lead">
        <strong>Professor Anthony W Purcell</strong><br>
        Head Immunoproteomics Laboratory<br>
        Department of Biochemistry and Molecular Biology<br>
        Monash University, Clayton Campus<br>
        Clayton 3800 Victoria Australia<br>
        <a href="mailto:anthony.purcell@monash.edu">anthony.purcell@monash.edu</a>
    </address>



<h2 class="text-info">Hosted by the Purcell Laboratory at Monash University</h2>

    <a href="{% url 'pepsite:index' %}" class="btn btn-success" type="submit">Query the database</a>


<div id="footer"></div>

{% endblock %}
