{% extends 'base.html' %}

{% load staticfiles %}

{% block headline %}


<h1><strong class="text-primary">Haplodome</strong> publications</h1>
<p class="text-info">Our immunoproteomic publications</p>


{% endblock %}

{% block content %}



    <div class="lead">
        <h2 class="text-primary">Publications:</h2>
        <ul>
           {% for publication in publications %} 
           <li>{{publication.display}}</li>
           {% endfor %}
       </ul>
   </div>


   <form action='{% url 'pepsite:index' %}'>
<input class="btn btn-success" type="submit" value="Query the database">
</form>


<div id="footer"></div>

{% endblock %}
