{% extends 'base.html' %}

{% load staticfiles %}

{% block headline %}


<h1><strong class="text-primary">Haplodome</strong> sponsors</h1>
<p class="text-info">We gratefully acknowledge supporters of the Haplodome platform</p>


{% endblock %}

{% block content %}


<a href="http://www.monash.edu" target="_blank"><img src="{% static 'images/monash-university-logo.jpg' %}"></a>
<a href="http://www.absciex.com" target="_blank"><img src="{% static 'images/absciex_logo.png' %}" width="50%"></a>

<h2 class="text-info">Hosted by the Purcell Laboratory at Monash University</h2>

<a href="{% url 'pepsite:index' %}" class="btn btn-success">Query the database</a>


<div id="footer"></div>



{% endblock %}
